#container {
    position: absolute;
    height: 800px;
    width: 1200px;
    border: 2px solid #000;
    perspective: 600px;
}

#world {
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

.square {
    position: absolute;
}

#pawn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 400px;
    left: 600px;
    border: 2px solid #FF00FF;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}